---
layout: base
---
<div class="ui vertical sidebar menu">
  {% include menu.html %}
</div>

<div class="pusher">

  <div class="ui container">
    <div class="ui large secondary pointing menu">
      <div class="right menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        {% include menu.html %}
      </div><!-- ./right menu -->
    </div><!-- ./menu -->
  </div><!-- ./container -->

  <div class="ui vertical segment">
    <div class="ui text container">

      <div class="ui text container center aligned" style="padding: 8em 0;">
          <h1 class="ui icon header">
            <i class="warning icon"></i>
            <div class="content">
                404
                <div class="sub header">Page not found</div>
            </div>
          </h1>

          <p>The requested page could not be found.</p>
        </div>

    </div><!-- ./text container -->
  </div><!-- ./main segment -->

  <div class="ui vertical footer segment">
      <div class="ui container center aligned">
        Made with <i class="bug icon"></i> by tzing.
      </div>
  </div><!-- ./footer -->

</div><!-- ./pusher -->
